/*paleta de colores
blanco #FAFAFA, GRIS #C7EEFF, AZUL #0077C0, NEGRO #1D242B
*/
/*color del fondo y el color de la letra*/
body {
    background-image: linear-gradient(to top,black,#aa9eef);
    color: white;
}

/*icono de carga de pagina*/

.loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: spin 1.2s
        linear infinite;
    margin-left: auto;
    margin-right: auto;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

.loader::before {
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(0deg,
        #f0c 0%,
        #80f 100%);
}
.loader::after {
    width: 85%;
    height: 85%;
    background-color: #222;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/*estilo del icono y nombre de la App
se utiliza FLEXBOX para que queden en una sola columna
*/
.bordesuperior {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 80px;
}
/* se redondea el icono de la App*/

.logo, .schoolapp {
    border-radius: 225px;
}

/*opacidad al pasar el mouse*/
.schoolapp:hover{
    opacity: 90%;
}
/*alinear a la izquierda My school APP*/
.inicio_sesion {
    margin-top: 5px;
}

.asuperior{
    color: blueviolet;
    font-weight: bold;
}


/*opacidad al pasar el mouse*/
.Nombre_de_app:hover{
    opacity: 80%;
}

.M2, .V2{
    display: grid;
    place-content: start center ;
}

.mis{
    padding-left: 20px;
}

.text{
    margin: 0 1em 1em 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.MISION, .VISION{
    border-radius: 250px;
    margin-top: 10px;
    padding: auto;
    opacity: 70%;
}

.MISION:hover, .VISION:hover {
    transform: scale(1.09);
    transition: all 0.5s;
    opacity: 50%;
}

.mv{
    font-family: 'Times New Roman', Times, serif;
    font-size:26px;
}

.IEJAVIER{  
    display: grid;
    place-content: center;
    opacity: 50%;
}

.LOGO2 {
    border-radius: 20%;
    transition: all 0.5s;
}
.LOGO2:hover {
    transform: scale(1.09);
}


h1 {
    font-family: 'Times New Roman', Times, serif;
}

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content:  space-between;
}

